* {
	margin: 0;
	padding: 0;
}

.cardImage {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 588px;
	width: 588px;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;
}

.color-overley {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.019);
}

.smallCard {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 295px;
	width: 365px;
	justify-content: center;
	align-items: center;
	position: relative;
	color: black;
	margin-top: 80px;
}

.productSection {
	padding-top: 80px;
	padding-bottom: 80px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: black;
	text-decoration: none;
}

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
}

.featuresCard {
	padding-top: 40px;
	padding-bottom: 40px;
}

.linkText {
	color: black;
	text-decoration: none;
}

.footerCard {
	gap: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
